.px2dt-git-commit{
	& &__stats-untracked{
		border-left: 4px solid #3f9;
	}
	& &__stats-added{
		border-left: 4px solid #3f9;
	}
	& &__stats-modified{
		border-left: 4px solid #f93;
	}
	& &__stats-deleted{
		border-left: 4px solid #f00;
		color: #f00;
	}
	& &__stats-unknown{
		border-left: 4px solid #999;
	}

	& &__loglist{
		background-color: #fff;
		&:hover{
			background-color: #eee;
			cursor: pointer;
		}
	}
	& &__loglist-row{
		display: flex;
	}
	& &__loglist-row-date{
		width: 20%;
		font-size: 80%;
	}
	& &__loglist-row-title{
		width: 40%;
	}
	& &__loglist-row-name{
		width: 20%;
		font-size: 80%;
	}
	& &__loglist-row-hash{
		width: 20%;
		font-size: 80%;
	}
	& &__loglist-row>div{
		padding: 0 0.5em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	& &__loglist-row>div:first-child{
		padding-left: 0;
	}
	& &__loglist-row>div:last-child{
		padding-right: 0;
	}
	& &__loglist-detail{
		border: 1px solid #eee;
		background-color: #fff;
		border-radius: 3px;
		cursor: default;
		padding: 12px;
	}
}
